body {
  margin: 0;
  padding: 0;
  background-color: #FFFCF8;
  font-family: Mulish, sans-serif;
  overflow: hidden;
}

.elmain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.elmain .navbarIcon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 284px;
  margin-bottom: -30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.elmain .navbarIcon .iconsright {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.elmain .navbarIcon .iconsright img:nth-child(2) {
  margin-left: -70px;
}

.elmain .navbarIcon div {
  font-family: Mulish, sans-serif;
}

.elmain .navbarIcon div h3 {
  font-size: 28px;
}

.elmain .navbarIcon div p {
  margin-top: -15px;
}

.elmain .navImage_Group {
  padding-top: 40px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  width: 60px;
  height: 100vh;
  gap: 40px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-shadow: 0px 1px 50px 0px #00000014;
          box-shadow: 0px 1px 50px 0px #00000014;
}

.elmain .navImage_Group img:nth-child(1) {
  margin-left: -5px;
}

.elmain .navImage_Group img:nth-child(2) {
  width: 45px;
  margin-left: -8px;
}

.elmain .navImage_Group img:hover {
  -webkit-box-shadow: 0px 0px 25px 21px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 21px rgba(0, 0, 0, 0.75);
}

.elmain .needgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 15px;
}

.elmain .card {
  border: 1px solid #E8E7E7;
  -webkit-box-shadow: 0px 1px 50px 0px #00000014;
          box-shadow: 0px 1px 50px 0px #00000014;
  display: inline-block;
  padding: 20px;
  border-radius: 14px;
}

.elmain .needsize h4 {
  font-size: 32px;
  margin-top: 15px;
}

.elmain .needsize h4 span {
  font-size: 16px;
  color: #818181;
}

.elmain .needsize button {
  background-color: #F8DEBD;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  position: relative;
  top: -30px;
}

.elmain .needsize .btn2 {
  background-color: #FBF0F3;
}

.elmain .needsize .btn3 {
  background-color: #D0FBFF;
}

.elmain .needsize img {
  display: block;
  margin-top: -14px;
}

.elmain .cardfather {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 20px;
}

.elmain .header {
  margin-left: -600px;
}

.elmain_child_second {
  width: 690px;
  height: 312px;
  -webkit-box-shadow: 0px 1px 50px 0px #00000014;
          box-shadow: 0px 1px 50px 0px #00000014;
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
}

.elmain_child_second .small_nav {
  margin-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 402px;
  padding-top: 10px;
}

.elmain_child_second .smallfooter {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  padding-left: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.elmain_child_second .smallfooter div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.elmain_child_second .smallfooter div h4 {
  margin-top: -4px;
}

.elmain_child_second select {
  padding: 0px 15px;
  border: 1px solid #E1E1E1;
  border-radius: 12px;
}

.footer {
  width: 690px;
  height: 84px;
  -webkit-box-shadow: 0px 1px 50px 0px #00000014;
          box-shadow: 0px 1px 50px 0px #00000014;
  margin-top: 20px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  border-radius: 12px;
}

.footer h3 {
  font-size: 16px;
  margin: auto 0;
  font-weight: 200;
  color: #383838;
}

.footer h3:nth-child(1) {
  margin-left: 20px !important;
  font-size: 20px !important;
  margin: auto 0;
  font-weight: 600;
  color: black !important;
}

.footer button {
  width: 111px;
  height: 31px;
  background-color: #D0FBFF;
  border: none;
  border-radius: 8px;
  margin: auto 0;
}

.rightdashboard {
  -webkit-box-shadow: 0px 1px 50px 0px #00000014;
          box-shadow: 0px 1px 50px 0px #00000014;
  border-radius: 12px;
  background-color: #303030;
  width: 760px;
  padding-left: 40px;
  height: 840px;
  position: relative;
  top: -836px;
  left: 850px;
}

.guyoki_nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  color: #CACACA;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.guyoki_nav h4 {
  font-size: 22px;
}

.guyoki_nav select {
  background-color: transparent;
  border: 1px solid #CACACA;
  width: 157px;
  color: #CACACA;
  height: 48px;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 15px;
  padding-left: 10px;
  border-radius: 12px;
}

.needgrid2 {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.needgrid2 img {
  width: 247px;
}

.rightcontent {
  color: white;
}
/*# sourceMappingURL=style.css.map */